<nav class="navbar">
  <a href="javascript:void(0)" class="three-dot" id="menuToggle">&#9776;</a>
  <h1 class="logo">
    <a href="/index.html" style="text-decoration: none; color: white;">
      <span class="logo-gradient">uni</span><span>NITS</span>
    </a>
  </h1>

  <div class="mobile-menu" id="mobileMenu">
    <a href="/index.html">Home</a>
    <a href="/index.html#upcoming-events">Events</a>
    <a href="/study.html">Study</a>
    <a href="/index.html#academic-tools">Tools</a>
  </div>

  <div class="nav-links">
    <a href="/index.html" class="nav-link"><span>Home</span><span class="nav-link-underline"></span></a>
    <a href="/index.html#upcoming-events" class="nav-link"><span>Events</span><span class="nav-link-underline"></span></a>
    <a href="/study.html" class="nav-link"><span>Study</span><span class="nav-link-underline"></span></a>
    <a href="/index.html#academic-tools" class="nav-link"><span>Tools</span><span class="nav-link-underline"></span></a>
  </div>

  <div class="profile">
    <div class="avatar">
      <a href="/profile.html">
        <img id="navProfileImage" src="/assets/images/default.png" />
      </a>
    </div>
  </div>
</nav>